<footer class="footer">
  <div class="footer-column">
    <h4>Subscribe</h4>
    <p>Get updates right in your inbox</p>
    <div class="subscribe-form">
      <input type="email" placeholder="Enter your email" />
      <button>Subscribe</button>
    </div>
  </div>

  <div class="footer-column">
    <h4>Company</h4>
    <ul>
      <li><a routerLink="/about">About Us</a></li>
      <li><a routerLink="/careers">Careers</a></li>
      <li><a routerLink="/blog">Blog</a></li>
    </ul>
  </div>

  <div class="footer-column">
    <h4>Resources</h4>
    <ul>
      <li><a routerLink="/help">Help Center</a></li>
      <li><a routerLink="/guides">Guides</a></li>
      <li><a routerLink="/docs">Documentation</a></li>
    </ul>
  </div>

  <div class="footer-column">
    <h4>Support</h4>
    <ul>
      <li><a routerLink="/contact">Contact Us</a></li>
      <li><a routerLink="/faq">FAQ</a></li>
      <li><a routerLink="/terms">Terms of Service</a></li>
    </ul>
  </div>
</footer>
