<header class="header">
  <div class="logo">
    <a routerLink="/"
      ><img src="../../../../assets/img/work-schedule_2837724.png" alt="Logo"
    /></a>
  </div>

  <nav class="nav-links">
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/features" routerLinkActive="active">Features</a>
  </nav>

  <div class="actions">
    <button class="sign-up">
      <a class="sign-up__btn--link" routerLink="/sign-up">Sign Up</a>
    </button>
  </div>
</header>
